.login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}
.login-form{
    width: 50%;
    height: 52vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.login-img{
    width: 80%;
}
.login-img-comp{
    width: 50%;
}
.login-txt{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.login-txt1{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.login-txt2{
    font-size: 22px;
    color: blueviolet;
    font-weight: bold;
}